@model IEnumerable<GitHubApp.Models.User>
@addTagHelper *, GitHubApp

@{
    ViewData["Title"] = "GitHub API";
}

<h1>GitHub API</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Html_Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var currentUser in Model)
        {
            @*@await Component.InvokeAsync("UserComponent", new { user = currentUser })*@
            <vc:user-component user="@currentUser"></vc:user-component>
        }
    </tbody>
</table>
